
body {
    margin: 0;
    background: url("../img/ref-pattern.png") repeat;
}

.redStripe {
    height: 5px;
    background-color: white;
    margin: 15px auto;
}

.margin100 {
    margin: 100px auto;
}

.floatRight {
    margin-top: 15px;
    float: right;
}

.floatRightCreateRide {
    float: right;
}

.activeLink {
    color: white;
    background-color: rgb(231, 80, 68);
}

.address {
    font-size: 150%;
    font-weight: bold;
}

.addressLabel {
    font-size: 150%;
}

.addressArrow {
    margin-bottom: 12px;
    font-size: 18px;
    margin-right: 6px;
}

.rideDate {
    font-size: 120%;
}

.wellBox {
    box-shadow: 5px 5px 5px #888888;
}

.redStripeRide {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #d12038;
    top: 0;
    left: 0;

}

.myRidesBorder {
    border: 1px solid #b5b5b5;
    background-color: #fbfbfb;

}

.btnRide {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btnRide:focus, .btnRide:active:focus, .btnRide.active:focus {
    outline: 0 none;
}

.btn-primaryRide {
    background: #c41515;
    color: #ffffff;
}

.btn-primaryRide:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #E75044;
}

.btn-primaryRide:active, .btn-primary.active {
    background: #E75044;
    box-shadow: none;
}

.myRideButtonActive {
    background-color: #E75044;
    border-color: #7e2817;
}

.divAddress {
    border: 1px solid black;
    width: auto;
    height: 40px;
}

.panelMargin {
    margin: 20px;
}

.iconMargin {
    margin: 10px 10px 10px 10px;
}

.inputAddress {
    font-size: 18px;
    border: 1px;
    width: 80%;
    height: 70%;
}

.inputAddress:active, .inputAddress:focus {
    border: 0px;
    outline-width: 0;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.inlineBlock {
    display: inline-block;
}

.capacity {
    width: 50px;
    text-align: center;
}

h4.inline {
    display: inline-block;
}

div.ride {

}

.rideStripe {
    height: 1px;
    background-color: #c41515;
    margin: 15px auto;
}

.greenColor {
    color: green;
}

.blueColor {
    color: blue;
}

.redColor {
    color: #c41515;
}

.capacityOverview {
    font-size: 150%;
    font-weight: bold;
}

.rideOverviewH4 {
    font-size: 140%;
}

.profileImageContainer {

    text-align: center;
    margin-top: 25px;

}

.profileDefault {
    font-size: 110px;
    color: #b1acac;
    border: 1px solid gray;
}

input.profileDefault {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.rideProfileContainer{
    width: 130px;
    height: 130px;
    text-align: center;
}

.rideProfileImage{
    width: 120px;
    height: 120px;
}

.detailAddressLabel{
    font-size: 130%;
}

.inline{
    display: inline;
}

.profileImage {
    width: 120px;
    height: 120px;
    border: 1px solid gray;
}

.cn {
    display: flex;
    justify-content: center;
    align-items: center;
}